<footer class='w-full text-center my-4 bg-transparent'>
    <p class='text-gray-500 font-semibold'>Created by <a href="https://github.com/varJonathanR" target="_blank" rel="noopener noreferrer" class='text-gray-700'>varJonathanR</a> - <a href="https://devchallenges.io/" target="_blank" rel="noopener noreferrer" class='text-gray-700'>devChallenges.io</a></p>
</footer>