---
interface Props {
    title?: string;
    id?: string;
}

const { title, id} = Astro.props;
---

<dialog class="deleteDialog mx-auto mt-32 p-4 w-[500px] rounded-xl backdrop:bg-black/70">
    <p class="pb-3 font-semibold text-2xl">Are you sure?</p>
    <span>{title}</span>
    <form class="deleteForm flex flex-col" autocomplete="off">
        <label for="password" class="mt-4">
            Password
            <input id="password" type="text" placeholder="******">
        </label>
        <div class="mt-4 flex gap-2 items-center justify-end">
            <div class="errorMessage text-red-700 w-full h-auto"></div>
            <button type="button" class="cancelD hover:bg-gray-200">Cancel</button>
            <button type="submit" class="deleteImage bg-red-600 border-red-600 text-white hover:bg-red-800">Delete</button>
        </div>
    </form>
    <input class="imageID hidden" value={id} disabled />
</dialog>

<style>
    dialog::backdrop {
    opacity: 0.75;
    }

    label {
        display: block;
        border: none;
        padding: 0;
        margin-bottom: .6rem;
    }

    input {
        width: 100%;
        border-radius: 24px;
        padding-inline: .8rem;
        padding-block: .5rem;
        border: 1px solid rgb(107, 114, 128);
        gap: 10px;
        background-color: transparent;
    }
</style>